<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adjonline.mojitolabs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/log"
        android:roundIcon="@mipmap/log"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/lambo" />
        <activity android:name="com.adjonline.mojitolabs.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.adjonline.BroadcastReceiver.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.adjonline.mojitolabs.SignupActivity"/>
        <activity android:name="com.adjonline.mojitolabs.LoginActivity" />
        <activity android:name="com.adjonline.mojitolabs.judgement_activity_1" />
        <activity android:name="com.adjonline.mojitolabs.activity_full_judgement" />
        <activity android:name="com.adjonline.mojitolabs.AboutUsActivity" />
        <activity android:name="com.adjonline.mojitolabs.PrivacyPolicyActivity" />
        <activity android:name="com.adjonline.mojitolabs.SettingActivity"/>
        <activity android:name="com.adjonline.mojitolabs.CitationSearch"/>
        <activity android:name="com.adjonline.mojitolabs.AdvanceSearch"/>
        <activity android:name="com.adjonline.mojitolabs.DateSearch"/>
        <activity android:name="com.adjonline.mojitolabs.PartySearch"/>
        <activity android:name="com.adjonline.mojitolabs.Viewer"/>
        <activity android:name="com.adjonline.mojitolabs.AdvanceSearchFilter">

        </activity>
    </application>

</manifest>